{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title> {{ title }} </title>
</head>
<body>
    <div class="ac-gt"> Акустические гитары </div>
    <div class="ac-gt__wrapper">
        {% for product in products %}
        {% if product.category == "ac-gt" %}
            <div class="ac-gt__card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="ac-gt__image">
                    <div class="ac-gt__title"> {{ product.name }} </div>
                {% else %}
                    <img src="{% static "images/not.found.jpg" %}" class="ac-gt__image">
                {% endif %}
            </div>
        {% endif %}
        {% endfor %}
    </div>
</body>
</html>