{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}{% endblock %}
    <title> {{ title }} </title>
</head>
<body class="body">
    <header class="header">
        <div class="catalog"><a class="ul__link" href="{% url 'catalog:Main' %}">Каталог</div>
        <nav class="nav">
            <ul class="ul">
                <li class="ul__li"><a class="ul__link" href="{% url 'catalog:Guitars' %}">Гитары</a></li>
                <li class="ul__li"><a class="ul__link" href="{% url 'catalog:Dops' %}">Аксесуары и комплектующие</a></li>
                {% if request.user.is_authenticated %}
                    <li class="ul__li"><a class="ul__link" href="{% url 'user:profile' user.pk %}">Аккаунт</a></li>
                {% else %}
                    <li class="ul__li"><a class="ul__link" href="{% url 'user:reg_or_auth' %}">Регистрация и вход</a></li>
                {% endif %}
                <li class="ul__li"><a class="ul__link" href="{% url 'cart:cart' %}">Корзина</a></li>
            </ul>
        </nav>
    </header>
    {% block body %}{% endblock %}
</body>
</html>