{% extends "base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock %}

{% block body %}
<body>
    <div class="bass-gt"> Бас гитары </div>
    <div class="wrapper">
        {% for product in products %}
        {% if product.category == "bass-gt" %}
            <div class="card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card__image">
                    <div class="card__title"> {{ product.name }} </div>
                    <div class="card_price"> {{ product.price }}</div>
                    <a href="{% url 'cart:create_cart' product.slug %}">В корзину</a>
                {% else %}
                    <img src="{% static "images/not.found.jpg" %}" class="card__image">
                {% endif %}
            </div>
        {% endif %}
        {% endfor %}
    </div>
</body>
{% endblock %}