{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/dops.css "%}">
    <title> {{ title }} </title>
</head>
<body>
    <div class="dops">
        <h1> {{ title1 }} </h1>
        <div class="wrapper">
            {% for category in categories %}
            {% if category.category == "dops" %}
                <div class="card">
                    <a class="card__link" href="{% url category.url_name %}">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" class="card__image">
                            <p> {{ category.name }} </p>
                        {% else %}
                            <img src="{% static "images/not.found.jpg" %}" class="card__image">
                        {% endif %}
                    </a>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>