{% extends "base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock %}

{% block body %}
    <h1 class="product_name">{{ name }}</h1>
    <h2 class="product_des_name">{{ title1 }}</h2>
    <span class="product_des">{{ description }}</span>
    <h2 class="product_quantity_name">{{ title2 }}</h2>
    {% if quantity != 0 %}
        <span class="product_quantity">{{ quantity }}</span>
    {% else %}
        <span class="product_quantity">{{ no_product }}</span>
    {% endif %}
    <h2 class="product_price_name">{{ title3 }}</h2>
    <span class="product_price">{{ price }}</span>
{% endblock %}