{% extends "base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static "css/style.css "%}">
{% endblock %}

{% block body %}
    <body>
        <div class="catalog">
            <div class="header"> Каталог </div>
            <nav class="nav">
                <ul class="ul">
                    <li class="ul__li"><a class="ul__link" href="{% url 'catalog:Guitars' %}"> Гитары </a></li>
                    <li class="ul__li"><a class="ul__link" href="{% url 'catalog:Dops' %}"> Аксесуары и комплектующие </a></li>
                    <li class="ul__li"><a class="ul__link" href="{% url 'catalog:user_auth' %}"> Аккаунт </a></li>
                </ul>
            </nav>
        </div>
        <br> <br>
        <figure class="figure"> 
            <img class="img" src="{% static "images/main.jpg" %}">
        </figure>
    </body>
{% endblock %}