.auth {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 30px;
}

.auth__per-form {
    text-align: center;
    margin: 250px 0;
}

.auth-f, .auth-f1 {
    padding: 20px 200px;
    font-family: 'JetBrains Mono', sans-serif;
}

.auth-f1 {
    margin-right: 18px;
}

.auth__auth-input {
    font-family: 'JetBrains Mono', sans-serif;
    float: left;
    margin: 20px 1025px;
    padding: 8px 25px;
}